.container {
    width: 850px;
    margin: auto;

}
h1 {
    text-align: center;
}

.left {
    background-color: #52B788;
    width: 425px;
    height: 500px;
    display: inline-flex;
    float: left;
}
.left img {
    width: 200px;
    height: 200px;
    padding: 125px;
}
.right {
    background-color: #95D5B2;
    width: 425px;
    height: 500px;
    display: inline-flex;
    float: right;
    text-align: center;
}
.username {
    width: 425px;
    height: 500px;
    padding: 125px;
}